Key Points: 
* IDE - Integrated Development Engine
* Csv file - Either comma separated or character separated file.

Data Structure - to organize or manage the data. It holds mutiple data. It is also known as "data set". E.g. List.

#### Reading csv file using pandas

In [2]:
import pandas as pd                #import pandas
who = pd.read_csv("WHO.csv")       #read file
type(who)                          #to know type of file

pandas.core.frame.DataFrame

In [3]:
import pandas as pd
who = pd.read_csv("WHO.csv")
who.ndim                              #for dimension

2

In [4]:
import pandas as pd
who = pd.read_csv("WHO.csv")
who

,Date_reported,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-04,China,1,1,0,0
1,2020-01-05,China,0,1,0,0
2,2020-01-06,China,3,4,0,0
3,2020-01-07,China,0,4,0,0
4,2020-01-08,China,0,4,0,0
...,...,...,...,...,...,...
31871,2020-07-31,Panama,1046,63269,25,1374
31872,2020-07-31,Timor-Leste,0,24,0,0
31873,2020-07-31,Guatemala,1221,48826,32,1867
31874,2020-07-31,Saint Vincent and the Grenadines,0,52,0,0
31875,2020-07-31,Democratic Republic of the Congo,79,9009,2,214

---

### To get name of all the columns

In [11]:
who.columns

Index(['Date_reported', 'Country', 'New_cases', 'Cumulative_cases',
       'New_deaths', 'Cumulative_deaths'],
      dtype='object')

---

### To convert data of "Date_reported" from string to date-time:

In [10]:
pd.to_datetime(who["Date_reported"])

0       2020-01-04
1       2020-01-05
2       2020-01-06
3       2020-01-07
4       2020-01-08
           ...
31871   2020-07-31
31872   2020-07-31
31873   2020-07-31
31874   2020-07-31
31875   2020-07-31
Name: Date_reported, Length: 31876, dtype: datetime64[ns]

In [13]:
who["Date_reported"]    #To access only one column from the data

0        2020-01-04
1        2020-01-05
2        2020-01-06
3        2020-01-07
4        2020-01-08
            ...
31871    2020-07-31
31872    2020-07-31
31873    2020-07-31
31874    2020-07-31
31875    2020-07-31
Name: Date_reported, Length: 31876, dtype: object

In [9]:
who["Date_reported"].ndim      #dimension of one column

1

In [8]:
type(who["Date_reported"])     #type of one column = Series

pandas.core.series.Series

---

### Using head( ) method

In [9]:
who.head()  #it prints starting 5 lines

,Date_reported,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-04,China,1,1,0,0
1,2020-01-05,China,0,1,0,0
2,2020-01-06,China,3,4,0,0
3,2020-01-07,China,0,4,0,0
4,2020-01-08,China,0,4,0,0

In [10]:
who.head(10)   #it prints starting 10 lines

,Date_reported,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-04,China,1,1,0,0
1,2020-01-05,China,0,1,0,0
2,2020-01-06,China,3,4,0,0
3,2020-01-07,China,0,4,0,0
4,2020-01-08,China,0,4,0,0
5,2020-01-09,China,0,4,0,0
6,2020-01-10,China,0,4,0,0
7,2020-01-11,China,41,45,1,1
8,2020-01-12,China,0,45,0,1
9,2020-01-13,Thailand,5,5,0,0

### Using info( ) method:

In [12]:
who.info()  # Total entries = 31876 entries

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31876 entries, 0 to 31875
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date_reported      31876 non-null  object
 1   Country            31876 non-null  object
 2   New_cases          31876 non-null  int64
 3   Cumulative_cases   31876 non-null  int64
 4   New_deaths         31876 non-null  int64
 5   Cumulative_deaths  31876 non-null  int64
dtypes: int64(4), object(2)
memory usage: 1.5+ MB

### Using shape( ) method:

In [20]:
who.shape #it tells about (rows, columns)

(31876, 6)

---

### To get name of all countries in Country column - using unique( ) method

In [23]:
who.Country.unique()

array(['China', 'Thailand', 'Japan', 'Republic of Korea',
       'United States of America', 'Singapore', 'Nepal', 'France',
       'Viet Nam', 'Malaysia', 'Australia', 'Canada', 'Sri Lanka',
       'Cambodia', 'Germany', 'Italy', 'Finland', 'United Arab Emirates',
       'India', 'Philippines', 'Sweden', 'Russian Federation',
       'The United Kingdom', 'Spain', 'Belgium', 'Other', 'Egypt',
       'Iran (Islamic Republic of)', 'Israel', 'Lebanon', 'Oman',
       'Bahrain', 'Switzerland', 'Iraq', 'Afghanistan', 'Kuwait',
       'Algeria', 'Austria', 'Romania', 'Norway', 'North Macedonia',
       'Croatia', 'Georgia', 'Pakistan', 'Brazil', 'Denmark', 'Greece',
       'Estonia', 'Nigeria', 'Lithuania', 'New Zealand', 'Mexico',
       'Netherlands', 'San Marino', 'Ecuador', 'Monaco', 'Qatar',
       'Azerbaijan', 'Belarus', 'Armenia', 'Czechia', 'Ireland',
       'Iceland', 'Luxembourg', 'Morocco', 'Saint Barthélemy', 'Portugal',
       'Tunisia', 'Saint Martin', 'Indonesia', 'Jordan',
       'Dominican Republic', 'Latvia', 'Saudi Arabia', 'Senegal',
       'Andorra', 'Argentina', 'Ukraine', 'Gibraltar', 'Chile', 'Poland',
       'Slovenia', 'South Africa', 'Bosnia and Herzegovina',
       'occupied Palestinian territory, including east Jerusalem',
       'Liechtenstein', 'Hungary', 'Faroe Islands', 'Holy See', 'Serbia',
       'Cameroon', 'Slovakia', 'Colombia', 'Bhutan', 'Martinique', 'Togo',
       'French Guiana', 'Maldives', 'Malta', 'Peru',
       'Republic of Moldova', 'Costa Rica', 'Paraguay', 'Bangladesh',
       'Bulgaria', 'Albania', 'Guernsey', 'Cyprus', 'Panama',
       'Brunei Darussalam', 'Mongolia', 'Jamaica', 'Turkey',
       'Democratic Republic of the Congo', 'Burkina Faso',
       'Bolivia (Plurinational State of)', 'Côte d’Ivoire', 'Jersey',
       'French Polynesia', 'Honduras', 'Guyana',
       'Saint Vincent and the Grenadines', 'Cayman Islands', 'Cuba',
       'United States Virgin Islands', 'Curaçao', 'Réunion',
       'Antigua and Barbuda', 'Trinidad and Tobago', 'Kosovo[1]',
       'Central African Republic', 'Ghana', 'Guadeloupe', 'Kazakhstan',
       'Gabon', 'Guinea', 'Kenya', 'Sudan', 'Namibia', 'Puerto Rico',
       'Venezuela (Bolivarian Republic of)', 'Mayotte',
       'Equatorial Guinea', 'Eswatini', 'Ethiopia', 'Mauritania',
       'Uruguay', 'Congo', 'Seychelles', 'Suriname', 'Guatemala',
       'Saint Lucia', 'Rwanda', 'Somalia', 'Uzbekistan',
       'United Republic of Tanzania', 'Benin', 'Guam', 'Aruba', 'Liberia',
       'Montenegro', 'Bahamas', 'Sint Maarten', 'Bermuda', 'Montserrat',
       'Djibouti', 'Mauritius', 'Kyrgyzstan', 'Gambia', 'Barbados',
       'Greenland', 'Zambia', 'Nicaragua', 'New Caledonia', 'Niger',
       'Chad', 'Fiji', 'El Salvador', 'Haiti', 'Cabo Verde',
       'Papua New Guinea', 'Zimbabwe', 'Isle of Man', 'Timor-Leste',
       'Uganda', 'Eritrea', 'Angola', 'Madagascar', 'Grenada',
       'Syrian Arab Republic', 'Mozambique', 'Dominica', 'Belize',
       "Lao People's Democratic Republic", 'Myanmar',
       'Turks and Caicos Islands', 'Libya', 'British Virgin Islands',
       'Anguilla', 'Mali', 'Guinea-Bissau', 'Saint Kitts and Nevis',
       'Northern Mariana Islands (Commonwealth of the)', 'Sierra Leone',
       'Burundi', 'Botswana', 'Malawi',
       'Bonaire, Sint Eustatius and Saba', 'Falkland Islands (Malvinas)',
       'Sao Tome and Principe', 'South Sudan',
       'Saint Pierre and Miquelon', 'Yemen', 'Comoros', 'Tajikistan',
       'Lesotho'], dtype=object)

---

### bol data type for 'data'

In [28]:
who.Country.unique()
bol = who.Country == "Italy"  #it gives result in True/False
# where Italy is present ans = True, while others are False.
bol

0        False
1        False
2        False
3        False
4        False
         ...
31871    False
31872    False
31873    False
31874    False
31875    False
Name: Country, Length: 31876, dtype: bool

---

### Data Filter

**Filter Italy data from overall data:**

In [31]:
italy = who[bol]  #it extract only italy data from overall data
italy

,Date_reported,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
123,2020-01-29,Italy,6,6,0,0
144,2020-01-30,Italy,0,6,0,0
158,2020-01-31,Italy,0,6,0,0
187,2020-02-01,Italy,0,6,0,0
215,2020-02-02,Italy,0,6,0,0
...,...,...,...,...,...,...
30870,2020-07-27,Italy,254,246118,5,35107
31097,2020-07-28,Italy,168,246286,5,35112
31333,2020-07-29,Italy,202,246488,11,35123
31629,2020-07-30,Italy,288,246776,6,35129
31686,2020-07-31,Italy,382,247158,3,35132

**Filter India data from overall data:**

In [34]:
india = who[who.Country == "India"]  #chainof command 
india   #it extract only india data from overall data

,Date_reported,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
136,2020-01-30,India,5,5,0,0
160,2020-01-31,India,0,5,0,0
178,2020-02-01,India,0,5,0,0
209,2020-02-02,India,1,6,0,0
243,2020-02-03,India,1,7,0,0
...,...,...,...,...,...,...
30900,2020-07-27,India,49931,1435453,708,32771
31200,2020-07-28,India,47703,1483156,654,33425
31441,2020-07-29,India,48513,1531669,768,34193
31624,2020-07-30,India,52123,1583792,775,34968
31812,2020-07-31,India,55078,1638870,779,35747

**Filter Poland data from overall data:**

In [33]:
poland = who[who.Country == "Poland"]  #it extract only poland data from overall data
poland

,Date_reported,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
1283,2020-03-04,Poland,1,1,0,0
1422,2020-03-05,Poland,0,1,0,0
1471,2020-03-06,Poland,0,1,0,0
1607,2020-03-07,Poland,4,5,0,0
1669,2020-03-08,Poland,1,6,0,0
...,...,...,...,...,...,...
30989,2020-07-27,Poland,443,43065,7,1671
31171,2020-07-28,Poland,337,43402,5,1676
31368,2020-07-29,Poland,502,43904,6,1682
31543,2020-07-30,Poland,512,44416,12,1694
31863,2020-07-31,Poland,615,45031,15,1709

Note:
* For sequential data - draw line chart
* For frequency data - draw histogram
* for categorized data - draw bar chart